.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}
.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s;
}
.gallery-item {
  border: 1px solid #808080;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.05);
}

/* form */
form {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  padding: 8px 16px;
  font-family: inherit;
  outline: none;

  transition: borderColor 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
input:hover {
  border-color: #000;
}
input:focus {
  border-color: #4e75ff;
}
button {
  font-family: inherit;
  border: none;
  border-radius: 8px;
  height: 40px;
  background-color: #4e75ff;
  color: white;
  padding: 8px 16px;
  transition: backgroundColor 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
button:hover {
  background-color: #6c8cff;
}

/* desc */
.gallery-desc-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
  padding: 4px 20px;
}

.gallery-desc-ttl {
  font-weight: 600;
}
.gallery-desc-text {
  font-weight: 400;
  line-height: 2;
}

/* loader */
.loader {
  margin: 0 auto;

  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  position: relative;
  left: 48%;
  display: none;
}
.isVisible {
  display: inline-block;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
